<template>
<div>
<h1>{{ mainTitle }}</h1>
<ul class="list-group">  
  <li
    v-for="user in users" :key="user.id"
    class="list-group-item list-group-item-action" 
    :class="user.active ? 'active': ''"
    @click="toggleActive(user)"
    >
      {{user.first_name}} {{user.last_name}}
    </li>  
</ul>
</div>
</template>

<script>
export default {
    name: 'ExampleList',
    data: function () {
        return {
            mainTitle: 'Lista Przykładowa',
            isActive: false,
            users: [{
            "id": 1,
            "first_name": "Debby",
            "last_name": "O'Nion",
            "email": "donion0@delicious.com",
            "active": false            
            }, {
            "id": 2,
            "first_name": "Jae",
            "last_name": "Astell",
            "email": "jastell1@washingtonpost.com",
            "active": false

            }, {
            "id": 3,
            "first_name": "Teador",
            "last_name": "Bernaldez",
            "email": "tbernaldez2@army.mil",
            "active": false
            }, {
            "id": 4,
            "first_name": "Agatha",
            "last_name": "Dennistoun",
            "email": "adennistoun3@dailymotion.com",
            "active": false
            }, {
            "id": 5,
            "first_name": "Herminia",
            "last_name": "Burkitt",
            "email": "hburkitt4@mac.com",
            "active": false
            }]
        }
    },
    methods: {  
        toggleActive(user){
            user.active = !user.active;
        }        
    }
    
}
</script>

<style>

</style>
