<template>
  <div id="app">
    <example-list/>
  </div>
</template>

<script>
import ExampleList from './components/ExampleList.vue';
export default {
  name: 'app',
  components: {
    ExampleList
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
